
<main id = "root"></main>


<h1 style>ProjectX</h1>
<p style>
  This is the home page and will be replaced with React frontend in the future.
</p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for restaurants:") %>
  <%= text_field_tag(:q, "McDonalds") %>
  <%= submit_tag("Search") %>
<% end %>


<%=link_to "Sign in/ log in" %>
<p><%=link_to "Manage reservations", reservations_path %></p>